html {
    box-sizing: border-box;
}
/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra vertical */
  height: 8px; /* Altura da barra horizontal */
}

/* Estilo do fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor de fundo */
  border-radius: 4px; /* Cantos arredondados */
}

/* Estilo da parte que se move (polegar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Cor do polegar */
  border-radius: 4px; /* Cantos arredondados */
}

/* Estilo ao passar o mouse sobre o polegar */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor mais escura ao hover */
}
.max-height-tabela {
    max-height: 500px
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
}
